<%- include ('partials/_header') %>
    <% if(!data) {%><title> A침adir Producto </title>
    <% } else{%><title> Ver/Editar Producto </title><% } %>   
    </head>

    <body>
        <div class="container">
            <div class="col  m-5 center-block">
                <% if(!data) {%><h1 class="display-1"> A침adir Producto </h1> <form action="/producto/add" method="POST">
                <% } else{%><h1 class="display-1"> Ver/Editar Producto</h1> <form action="/producto/update/<%= data.iDProducto%>" method="POST"><% } %> 
                    
                    
                    <div class="col-4 mt-3  ">
                        <div class="form-group">

                            <% val="";if(data) {val=data.nombreProducto}%>
                                    <label for="nombreProducto" class="mb-1">Nombre Producto</label>
                                    <input type="text" name="nombreProducto" placeholder="Nombre Producto"
                                        class="form-control" required maxlength="30"
                                        value="<%= val%>">
                        </div>                
                    </div>

                    <div class="col-4 mt-3  ">
                        <div class="form-group">
                            <label for="iDCategoria">Seleccionar Categoria</label>
                            <select class="form-select"  id="iDCategoria" name="iDCategoria">
                                <% hap=false; %>
                                <% for(var i = 0; i < categorias.length; i++) { %>
                                    <% iDC = categorias[i].iDCategoria ; nombre= categorias[i].nombreCategoria%>
                                    <% val="";if (iDC==data.iDCategoria){val="selected";hap=true;}%>
                                    <% if (!hap && i==categorias.length-1){val="selected";}; %>
                                    <option value="<%= iDC %>"                                       
                                            <%= val %>>
                                    <%= nombre %>
                                    </option>
                                <% }%>
                            </select>
                        </div>
                    </div>

                    <div class="col-5 mt-3 align-self-center">
                        <div class="form-group">
                            <% val="";if(data) {val=data.descripcionProducto}%>
                                    <label for="descripcionProducto" class="mb-1">Descripci칩n Producto</label>
                                    <textarea class="form-control" name="descripcionProducto"
                                        placeholder="Descripci칩n de Producto" rows="3" 
                                        required><%= val%></textarea>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary mt-5">
                        Guardar Producto
                    </button>
                    
                </form>
            </div>
        </div>
        </div>
        <%- include ('partials/_footer') %>